DNS Support

<b>Brickner[CodePlex]</b> <br />Add support for DNS datagrams (over UDP and maybe over TCP).
Should looks like this:
Packet packet;
packet.Ethernet.IpV4.Udp.Dns...


<b>chrisweber[CodePlex]</b> <br />I was just looking for this feature today.


<b>RusDev[CodePlex]</b> <br />It`s very important feature.


<b>Brickner[CodePlex]</b> <br />RFCs: 
RFC1035 
RFC1183 
RFC1348 
RFC1706 
RFC1712 
RFC1876 
RFC1995 
RFC1996 
RFC2136 
RFC2163 
RFC2168 
RFC2230 
RFC2535 
RFC2671 
RFC2672 
RFC2673 
RFC2782 
RFC2845 
RFC2874 
RFC2915 
RFC2930 
RFC3123 
RFC3225 
RFC3226 
RFC3363 
RFC3364 
RFC3403 
RFC3425 
RFC3596 
RFC3658 
RFC3755 
RFC4025 
RFC4034 
RFC4035 
RFC4255 
RFC4398 
RFC4408 
RFC4431 
RFC4635 
RFC4701 
RFC5001 
RFC5155 
RFC5205 
RFC5395


<b>chrisweber[CodePlex]</b> <br />I was just looking for this feature today.


<b>RusDev[CodePlex]</b> <br />It`s very important feature.


<b>Brickner[CodePlex]</b> <br />RFCs: 
RFC1035 
RFC1183 
RFC1348 
RFC1706 
RFC1712 
RFC1876 
RFC1995 
RFC1996 
RFC2136 
RFC2163 
RFC2168 
RFC2230 
RFC2535 
RFC2671 
RFC2672 
RFC2673 
RFC2782 
RFC2845 
RFC2874 
RFC2915 
RFC2930 
RFC3123 
RFC3225 
RFC3226 
RFC3363 
RFC3364 
RFC3403 
RFC3425 
RFC3596 
RFC3658 
RFC3755 
RFC4025 
RFC4034 
RFC4035 
RFC4255 
RFC4398 
RFC4408 
RFC4431 
RFC4635 
RFC4701 
RFC5001 
RFC5155 
RFC5205 
RFC5395


<b>chrisweber[CodePlex]</b> <br />I was just looking for this feature today.


<b>RusDev[CodePlex]</b> <br />It`s very important feature.


<b>Brickner[CodePlex]</b> <br />RFCs: 
RFC1035 
RFC1183 
RFC1348 
RFC1706 
RFC1712 
RFC1876 
RFC1995 
RFC1996 
RFC2136 
RFC2163 
RFC2168 
RFC2230 
RFC2535 
RFC2671 
RFC2672 
RFC2673 
RFC2782 
RFC2845 
RFC2874 
RFC2915 
RFC2930 
RFC3123 
RFC3225 
RFC3226 
RFC3363 
RFC3364 
RFC3403 
RFC3425 
RFC3596 
RFC3658 
RFC3755 
RFC4025 
RFC4034 
RFC4035 
RFC4255 
RFC4398 
RFC4408 
RFC4431 
RFC4635 
RFC4701 
RFC5001 
RFC5155 
RFC5205 
RFC5395
